#calculator {
  min-width: 320px;
  max-width: 640px;
  min-height: fit-content;
  margin: auto;
  align-self: center;
  justify-self: center;
  height: fit-content;
  width: 60%;
}

#numButtonGroup {
  display: flex;
  flex-direction: column;
  max-width: 640px;
}
#numButtonGroup .numRow {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.calculatorButton {
  flex: 1;
  aspect-ratio: 2;
  font-size: 2em;
}

#displayPanel {
  border: 2px solid black;
  aspect-ratio: 6;
  padding: 0% 3%;
  font-size: 2.5em;
  text-align: right;
  border-radius: 10px;
}
