#calculator {
  min-width: 320px;
  max-width: 640px;
  min-height: fit-content;
  margin: auto;
  align-self: center;
  justify-self: center;
  height: fit-content;
  width: 60%;
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
}

#calculatorInner {
  border: 2px solid red;
  width: fit-content;
  margin: 0;
  padding: 0;
}

#ButtonPanel {
  display: flex;
  flex-direction: column;
  max-width: 640px;
}
#ButtonPanel .btnRow {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.calculatorButton {
  flex: 1;
  aspect-ratio: 2;
  font-size: 2em;
}
.calculatorBtn {
  font-size: 2em;
}

#displayPanel {
  /* border: 2px solid black; */
  padding: 0;
  border-radius: 10px;
  width: auto;
  margin: 0;
}

/* #textField {
  text-align: right;
} */

button > svg {
  width: 80%;
  aspect-ratio: 1;
}
